@charset "UTF-8";
/* CSS Document */

#interna-revista p {
	text-transform:uppercase;
	font-size:9px;
	color:#999;}
	
#interna-revista .col {
	float:left;
	margin:0 58px 0 0;}
	
#interna-revista .col p {
	font-size:11px;
	text-align:center;
	color:#666;
	margin:7px 0;}
	
#interna-revista ul {
	list-style-type:none;}
	
#interna-revista ul li {
	margin:0 0 5px 0;}
	
@-moz-keyframes myfirst /* Firefox */
{
from {opacity: 0;}
to {opacity:0.9;}
}
	
#tag {
	float:left;
	border-radius:5px;
	opacity:0.9;
	animation: myfirst 5s;
    -moz-animation: myfirst 5s; /* Firefox */
    -webkit-animation: myfirst 5s; /* Safari and Chrome */
	padding:25px 0 0 2px;
	background:url(../img/revista/11/preco.png) no-repeat;
	width:80px;
	height:80px;
	color:#000;
	display:inline;
	text-align:center;}
	
#tag .preco {
	font-size:14px;}
	
#tag .ref {
	font-size:9px;
	color:#999}
	
#tag:hover {
	color:#f68b32}
	
#splash-love {
	float:right;
	background:url(../img/revista/11/splash-love.png) no-repeat;
	width:135px;
	height:122px;
	color:#FFF;
	font-size:16px;
	padding:20px 0 0 0;
	margin:20px;
	display:inline;
	text-align:center;}