.cn-container{
	width: 80%;
	min-width: 200px;
	max-width: 1000px;
	margin: -86px auto 0 auto;
	text-align: left;
	position: relative;
	height: 475px;
	overflow-y: hidden;
	overflow-x: auto;
}

.cn-container h2{

	font-family: 'Old Standard TT', 'ApexLightItalic', 'Arial Narrow', Arial, sans-serif;
	color: #fff;
	position: absolute;
	z-index: 8;
	text-shadow: 0 0 1px rgba(255,255,255,0.8), 1px 1px 1px rgba(0,0,0,0.2);
	font-size: 3em;
	line-height: 4em;
	top: -30px;
	right: 100px;
	text-shadow: #000 3px 3px 5px;
	white-space: nowrap;
	opacity: 0;
	-webkit-transition: all 0.3s linear 0.4s;
	-moz-transition: all 0.3s linear 0.4s;
	-o-transition: all 0.3s linear 0.4s;
	-ms-transition: all 0.3s linear 0.4s;
	transition: all 0.3s linear 0.4s;
}

.cn-container .cn-slide:target h2{
	right: 0px;
	opacity: 1;
}
.cn-slide{
	text-align: center;
	position: absolute;
	left: -200%;
	width: 90%;
	padding-top: 80px;
	margin: -45px 5%;
	opacity: 0;
	-webkit-transition: left 0.4s linear, opacity 0.4s linear;
	-moz-transition: left 0.4s linear, opacity 0.4s linear;
	-o-transition: left 0.4s linear, opacity 0.4s linear;
	-ms-transition: left 0.4s linear, opacity 0.4s linear;
	transition: left 0.4s linear, opacity 0.4s linear;
}

.cn-init {
	width: 50%;
}

.cn-slide:target{
	left: 0px;
	opacity: 1;
}
.cn-slide nav a.navi{
	
	/*-webkit-box-shadow: 0px 0px 7px #000000;
       -moz-box-shadow: 0px 0px 7px #000000;
            box-shadow: 0px 0px 7px #000000;*/
    border-bottom: 2px solid #ccc;
    border-top: 2px solid #ccc;
	text-align: left;
	display: block;
	font-family: 'Old Standard TT', 'ApexBook', 'Arial Narrow', Arial, sans-serif;
	padding: 1%;
	text-decoration: none;
	font-size: 1.9em;
	text-transform: uppercase;
	color: rgba(255,255,255,0.7);
	line-height: 2.1em;
	margin: 0 0 10px 0;
	outline: none;
	opacity: 1;
	/*background: #000 url(../img/menu_slide.png) repeat-x;*/
	background: -moz-linear-gradient(left,  rgba(51,51,51,0.75) 0%, rgba(51,51,51,0.75) 1%, rgba(51,51,51,0) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(51,51,51,0.75)), color-stop(1%,rgba(51,51,51,0.75)), color-stop(100%,rgba(51,51,51,0)));
	background: -webkit-linear-gradient(left,  rgba(51,51,51,0.75) 0%,rgba(51,51,51,0.75) 1%,rgba(51,51,51,0) 100%);
	background: -o-linear-gradient(left,  rgba(51,51,51,0.75) 0%,rgba(51,51,51,0.75) 1%,rgba(51,51,51,0) 100%);
	background: -ms-linear-gradient(left,  rgba(51,51,51,0.75) 0%,rgba(51,51,51,0.75) 1%,rgba(51,51,51,0) 100%);
	background: linear-gradient(to right,  rgba(51,51,51,0.75) 0%,rgba(51,51,51,0.75) 1%,rgba(51,51,51,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf333333', endColorstr='#00333333',GradientType=1 );
	
	background-clip: padding-box;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}


.cn-slide-sub nav{
	margin-top: 25px;
}

.cn-slide nav a:hover{
	-webkit-box-shadow: 0px 0px 15px #000000;
       -moz-box-shadow: 0px 0px 15px #000000;
            box-shadow: 0px 0px 15px #000000;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	color: rgba(255,255,255,0.9);
}

.cn-slide-sub nav a.navi{
	width: 100%;
	display: inline-block;
	font-size: 2em;
}
.cn-slide-sub nav a:nth-child(odd){
	margin-right: 5px;
}
/* Main Items 
.cn-slide nav a[href="#slide-1"]{
	background: #000 url(../img/menu_slide.png) repeat-x;
}
.cn-slide nav a[href="#slide-2"]{
	background: #000 url(../img/menu_slide.png) repeat-x;
}
.cn-slide nav a[href="#slide-3"]{
	background: #000 url(../img/menu_slide.png) repeat-x;
}*/

.cn-content{
	-webkit-box-shadow: 0px 0px 12px #000000;
       -moz-box-shadow: 0px 0px 12px #000000;
            box-shadow: 0px 0px 12px #000000;
	background: rgba(0,0,0,0.7) url(../img/bg_tramado.png);
	text-align: left;
	padding: 20px 20px 5px;
	border-radius: 15px;
	margin-top: 25px;
	cursor: text;

}

.cn-content p::-webkit-scrollbar {
    width: 12px;
}

.cn-content p::-webkit-scrollbar:vertical {
    height: 12px;
}

.cn-content p::-webkit-scrollbar-corner {
	background: #c89d42;
}

.cn-content p::-webkit-scrollbar-track {
	background: rgba(255,255,255,0.5);
	 border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8); 
}
 
.cn-content p::-webkit-scrollbar-thumb {
	background: #c89d42;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}


.cn-content p{

	font-family: 'Old Standard TT', 'ApexBook', 'Arial Narrow', Arial, sans-serif;
	text-align: justify;
	height: 325px;
	overflow: hidden;
	overflow-y: auto;
	line-height: 24px;
	color: rgba(255,255,255,0.9);
	padding: 15px 20px;
	margin-bottom: 10px;
	-webkit-transition: opacity 0.3s linear;
	-moz-transition: opacity 0.3s linear;
	-o-transition: opacity 0.3s linear;
	-ms-transition: opacity 0.3s linear;
	transition: opacity 0.3s linear;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.cn-content p.str {
	font-family: 'Old Standard TT', 'ApexBook', 'Arial Narrow', Arial, sans-serif;
	text-align: justify;
	height: 100px;
	overflow: hidden;
	overflow-y: auto;
	line-height: 24px;
	color: rgba(255,255,255,0.9);
	padding: 15px 20px;
	margin-bottom: 10px;
	-webkit-transition: opacity 0.3s linear;
	-moz-transition: opacity 0.3s linear;
	-o-transition: opacity 0.3s linear;
	-ms-transition: opacity 0.3s linear;
	transition: opacity 0.3s linear;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.cn-content a:link, 
.cn-content a:hover, 
.cn-content a:active, 
.cn-content a:visited {
	color: white;
	text-decoration: none;
}

.cn-content strong {
	font-size: 1.5em;
}

.cn-back{
	outline: none;
	text-indent: -9000px;
	width: 49px;
	height: 42px;
	background: transparent url(../images/arrow.png) no-repeat center center;
	position: absolute;
	top: 50px;
	left: -20px;
	cursor: pointer;
	opacity: 0;
	-webkit-transition: all 0.4s ease-in-out 0.5s;
	-moz-transition: all 0.4s ease-in-out 0.5s;
	-o-transition: all 0.4s ease-in-out 0.5s;
	-ms-transition: all 0.4s ease-in-out 0.5s;
	transition: all 0.4s ease-in-out 0.5s;
}
.cn-slide:target .cn-back{
	left: 3px;
	opacity: 1;
}
.cn-note{
	text-align: right;
	font-size: 10px;
	font-style: normal;
	text-align: right;
	padding: 10px;
	display: block;
	font-family: Arial;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.7);
}

@media screen and (max-width: 1060px){
	.cn-slide-sub nav a{
		font-size: 28px;
	}
}

@media screen and (max-width: 900px){
	.cn-container h2{
		font-size: 32px;
		
	}
	.cn-slide nav a{
		font-size: 38px;
	}
	.cn-slide-sub nav a{
		width: auto;
		font-size: 36px;
		display: block;
	}
	.cn-slide-sub nav a:nth-child(odd){
		margin-right: 0px;
	}
	
}

@media screen and (max-width: 1024px){
   .cn-container{
	margin: 100px auto 0 auto;
}

.cn-slide {
	margin-top: 0px
}


}

@media screen and (max-width: 768px){
	.cn-content p{
		height:400px;
}



}