@charset "UTF-8";
/* CSS Document */

@import url("fonts.css");
/*@import url(http://fonts.googleapis.com/css?family=Old+Standard+TT:400,400italic,700);*/

body {
	background-color: #191924;
}

ol, ul {
    list-style: none;
}

footer {
    background: -moz-linear-gradient(right, rgba(51,51,51,0.50) 0%, rgba(51,51,51,0.25) 100%);
    background: -webkit-gradient(linear, right top, right top, color-stop(0%,rgba(51,51,51,0.50)), color-stop(100%,rgba(51,51,51,0.25)));
    background: -webkit-linear-gradient(right, rgba(51,51,51,0.50) 0%,rgba(51,51,51,0.25) 100%);
    background: -o-linear-gradient(right, rgba(51,51,51,0.50) 0%,rgba(51,51,51,0.25) 100%);
    background: -ms-linear-gradient(right, rgba(51,51,51,0.50) 0%,rgba(51,51,51,0.25) 100%);
    background: linear-gradient(to left, rgba(51,51,51,0.50) 0%,rgba(51,51,51,0.25) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40333333', endColorstr='#80333333',GradientType=1 );
    bottom:0px; 
    color: #fff;
    font-family: 'Old Standard TT', 'ApexBook', Arial, Helvetica, sans-serif;
    height:50px; 
    left:0; 
    position:fixed; 
    width:100%; 
    z-index:5; 
}

a {
    color:#f68b32;
    text-decoration:none;
}

a:hover {
    color:#cb7329;   
}


/* Headear */

#main{
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(51,51,51,0.9)), color-stop(100%,rgba(51,51,51,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(51,51,51,0.9) 0%,rgba(51,51,51,0) 100%); /* Chrome10+,Safari9.1+ */
    background: -moz-linear-gradient(top,  rgba(51,51,51,0.9) 0%, rgba(51,51,51,0) 100%); /* FF3.6+ */
    background: -o-linear-gradient(top,  rgba(51,51,51,0.9) 0%,rgba(51,51,51,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(51,51,51,0.9) 0%,rgba(51,51,51,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(51,51,51,0.9) 0%,rgba(51,51,51,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
    float: left;
    height: 86px;
    min-width: 960px;
    width: 100%;
    z-index: 0;
}

#main a.logo{
    background:url(../img/logo-equus.png)bottom;
    float: left;
    height: 74px;
    margin: 15px 0 0 15px;
    width: 350px;
}

#main a:hover.logo {
	background:url(../img/logo-equus.png) top;
}

/* MENU */

#main nav{
    float: right;
    margin: 0 50px 0;
    width: 600px;
    z-index: 10px
}

.menu,
.menu ul,
.menu li,
.menu a {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

.menu { 
    font-family: 'Old Standard TT', 'ApexBook', Arial, Helvetica, sans-serif;
    float: right;
    margin-top: 0px;
    text-transform: uppercase;  
    z-index: 10;
}

.menu li {
    padding-top: 30px;
    position: relative;
    list-style: none;
    float: left;
    display: block;
    height: 50px;
}

/* Links */

.menu li a {
    color: #fff;
    display: block;
    float: left;
    font-family: 'Old Standard TT', 'ApexBook', Arial, Helvetica, sans-serif;
    font: bold 14px;
    height: 30px;
    letter-spacing: 0;
    margin: auto 17px;
    outline: none;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    top: 7px;
    z-index: 10;

}

.menu li:hover {
    opacity: 0.8;
    
    background: url('../img/menu_bg.png') repeat; 
    -webkit-border-radius: 0px 0px 7px 7px;
       -moz-border-radius: 0px 0px 7px 7px;
            border-radius: 0px 0px 7px 7px;
    -webkit-box-shadow: 0px 0px 15px #000000;
       -moz-box-shadow: 0px 0px 15px #000000;
            box-shadow: 0px 0px 15px #000000;
}

.menu li:hover > a {
    color: #fff; 
}

/* Sub Menu */

.menu ul {
    background: #32343a;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 80px;
    z-index: 10;
    
    -webkit-box-shadow: 0px 0px 15px #000000;
       -moz-box-shadow: 0px 0px 15px #000000;
            box-shadow: 0px 0px 15px #000000;

    -webkit-transition: opacity .25s ease .1s;
       -moz-transition: opacity .25s ease .1s;
         -o-transition: opacity .25s ease .1s;
        -ms-transition: opacity .25s ease .1s;
            transition: opacity .25s ease .1s;
}

.menu ul li:hover { 
    background: url('../img/menu_bg.png') repeat; 
    height: 30px;
    opacity: 0.9;
}


.menu ul li:hover > a {
    color: #000; 
}

.menu li:hover > ul { 
    opacity: 1;
 }

.menu ul li {
    height: 0;
    overflow: hidden;
    padding: 0;

    -webkit-transition: height .25s ease .1s;
       -moz-transition: height .25s ease .1s;
         -o-transition: height .25s ease .1s;
        -ms-transition: height .25s ease .1s;
            transition: height .25s ease .1s;
}

.menu li:hover > ul li {
    height: 40px;
    overflow: visible;
    padding: 0;
}

.menu ul li a {
    width: 200px;
    padding: 4px 0 4px 4px;
    margin: 0;
    border: none;
}


.clear {
    clear: both;
}

.trama {
    background: transparent url('../img/bg_tramado.png');
    display: block;
    height: 100%;
    opacity: 0.5;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -100;
}




/* Footer */

.redes {
    margin: -40px 25px 0 0;
    float:right;
}

footer a.facebook, footer a.twitter, footer a.youtube, footer a.instagram, footer a.pinterest, footer a.pcnet {
    border-radius: 50%;
    display:block;
    float:left;
    width:33px;
    height:31px;
    margin:0 0 0 8px;}
    
footer a.facebook {
    background:url(../img/redes/ico-facebook.png) top;}
    
footer a.twitter {
    background:url(../img/redes/ico-twitter.png) top;}
    
footer a.youtube {
    background:url(../img/redes/ico-youtube.png) top;}
    
footer a.instagram {
    background:url(../img/redes/ico-instagram.png) top;}

footer a.pinterest {
    background:url(../img/redes/ico-pinterest.png) top;}
footer a.pcnet {
    background:url(../img/redes/ico-pcnet.png) top;}
    
footer a:hover.facebook, 
footer a:hover.twitter, 
footer a:hover.youtube, 
footer a:hover.instagram, 
footer a:hover.pinterest,
footer a:hover.pcnet {
    box-shadow: #d4bd6a 0 0 10px
    }

.news {
    padding: 10px;
    float: left;
    width: 600px;
}

footer .col, .col2 {
    float:left;
    width:150px;
    margin:0 1px 0 0;
}

footer .col input {
    margin:0 50px 0 0;
    display: block;
    border: none;
    border-radius: 20px 0 0 20px;
    padding: 5px 8px;
    color: #333;
    box-shadow: 
    inset 0 0px 10px rgba(0,0,0,0.7);

}

.col input:focus {
    outline: none;
}

.col2 input {
    background: url('../img/menu_bg.png') repeat;
    margin:0 50px 0 0;
    display: block;
    border: none;
    border-radius: 0 20px 20px 0;
    padding: 5px 8px;
    color: #333;
    border-left: 1px solid #555;
}

.sus {
    box-shadow: 0 0 12px #000;
    height: 30px;
    width: 228px;
    border-radius: 20px
}

footer .firm {
    width: 250px;
    padding: 10px;
    margin: -50px auto 0 auto;
    text-align: center
}

.firm a:link,
.firm a:hover, 
.firm a:visited {
    color: #fff;
}

.firm a img {
    margin-top: -20px;
}

footer p {
    vertical-align: center;
    font-family: 'Old Standard TT', 'ApexBook', Arial, Helvetica, sans-serif;
    font-size: 0.6em;
}

.container{
    background: rgba(0,0,0,0.7) url(../img/bg_tramado.png);
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 12px #000000;
       -moz-box-shadow: 0px 0px 12px #000000;
            box-shadow: 0px 0px 12px #000000;
    margin: 0 auto 0 auto;
    height: 345px;
    margin-top: 25px;
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 25px;
    position: relative;
    top: 25px;
    text-align: left;
    width: 75%;
    min-width: 200px;
    max-width: 900px;
    font-family: 'Old Standard TT', 'ApexBook', Arial, Helvetica;
}

.container section {
    padding: 10px;
    color: white;
    height: 325px;
    overflow-y: auto;
    overflow-x: hidden;
}

.container section::-webkit-scrollbar {
    width: 12px;
}

.container section::-webkit-scrollbar:vertical {
    height: 12px;
}

.container section::-webkit-scrollbar-corner {
    background: #c89d42;
}

.container section::-webkit-scrollbar-track {
    background: rgba(255,255,255,0.5);
     border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8); 
}
 
.container section::-webkit-scrollbar-thumb {
    background: #c89d42;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.container article {
    margin: 0 0 30px 0;
    width: 100%;
}

.container article .desc {
    float: right;
    width: 75%;
    min-width: 200px;
    display:block;
    text-align: justify
}

.container article img {
    margin: 15px;
     -webkit-box-shadow: 0px 0px 15px #000000;
       -moz-box-shadow: 0px 0px 15px #000000;
            box-shadow: 0px 0px 15px #000000; 
    width: auto\9;
    height: auto;
    max-width: 100%;
    -ms-interpolation-mode: bicubic;
}

.container article img:hover {
    opacity: 0.8;
}

.container a:link, .container a:visited, .container a:hover {
    color: white;
}

.container a:hover {
    text-decoration: underline;
}

.container .new {
    margin: 15px;
    padding:15px; 
}

.container .new img {
    width: auto\9;
    height: auto;
    max-width: 100%;
    -ms-interpolation-mode: bicubic;
}

.bar {
    border: none;
    border-radius: 25px/5px;
    float: left;
    width:100%;
    height:7px;
    opacity: 0.6;
    background-image: linear-gradient(right , rgb(201,156,67) 2%, rgb(231,199,123) 51%, rgb(201,156,67) 88%);
    background-image: -o-linear-gradient(right , rgb(201,156,67) 2%, rgb(231,199,123) 51%, rgb(201,156,67) 88%);
    background-image: -moz-linear-gradient(right , rgb(201,156,67) 2%, rgb(231,199,123) 51%, rgb(201,156,67) 88%);
    background-image: -webkit-linear-gradient(right , rgb(201,156,67) 2%, rgb(231,199,123) 51%, rgb(201,156,67) 88%);
    background-image: -ms-linear-gradient(right , rgb(201,156,67) 2%, rgb(231,199,123) 51%, rgb(201,156,67) 88%);
    background-image: -webkit-gradient( linear, right top, left top,
    color-stop(0.02, rgb(201,156,67)),
    color-stop(0.51, rgb(231,199,123)),
    color-stop(0.88, rgb(201,156,67))
    );
}

.bar:after {
    clear: both;
}

.info {
    float: left;
    width: 30%;
    padding-top: 10px;
}

.info img {
    width: auto\9;
    height: auto;
    max-width: 100%;
    -ms-interpolation-mode: bicubic;
}

.contact {
    float: right;
    width: 55%;
}

.contact label {
    text-align: left;
    display:block;
    margin:0 5px 0 0;
    color: white;
    float: left;
    width: 150px;
    font-family: 'Old Standard TT', 'ApexBook', Arial, Helvetica;

}

.contact input[type=text], select, textarea {
    display: block;
    border: none;
    border-radius: 20px;
    padding: 5px 8px;
    color: #333;
    box-shadow: inset 0 2px 0 rgba(0,0,0,.2),;
    width:85%;
    padding: 7px;
    background:#ddd;
    opacity:0.9;
    border:1px solid #ccc;
    margin:0 0 0 0;
    font-family: 'Old Standard TT', 'ApexBook', Arial, Helvetica, sans-serif;
    font-style:italic;
    font-size:12px;}
    
.contact input[type=radio] {
    margin:0 5px 0 0;}
    
.contact input[type=text]:focus, input[type=submit]:focus, textarea:focus, select:focus  {
    background: #ddd;
    outline: none;
    box-shadow: 
    inset 0 2px 0 rgba(0,0,0,.2), 
    0 0 4px rgba(0,0,0,0.1),
    0 0 5px 1px #ca9f46;}

    
.contact input[type=submit] {
    background: url('../img/menu_bg.png') repeat;
    margin:0 0 0 25px;
    display: block;
    border: none;
    border-radius: 12px;
    padding: 5px 30px;
    color: #333;
    border-left: 1px solid #555;
    }
    
.contact input[type=submit]:hover {
    background:#636363;}

#mybook #indice a:visited, #mybook #indice a:link, #mybook #indice a:hover, {
    color: white

}



@media all and (orientation:portrait) {

}

@media all and (orientation:landscape) {

}

@media screen and (max-width: 1024px){

.container {
    top: 100px;
}

#main nav{
    float: left;
    margin: 0 25px ;
    width: 600px;
    z-index: 10px
}

.menu {
    float: left;
}

.menu li:hover { 
    background: url('../img/menu_bg.png') repeat; 
    -webkit-border-radius: 15px;
       -moz-border-radius: 15px;
            border-radius: 15px;
    -webkit-box-shadow: 0px 0px 15px #000000;
       -moz-box-shadow: 0px 0px 15px #000000;
            box-shadow: 0px 0px 15px #000000;
}

.menu li.active1,
.menu li.active2,
.menu li.active3,
.menu li.active4,
.menu li.active5, {
    -webkit-border-radius: 15px !important;
        -moz-border-radius: 15px !important;
            border-radius: 15px !important;
}

.book_wrapper {
    margin-top: 150px !important;
}

.book_wrapper {
    zoom: 0.8;
}

}

@media screen and (max-width: 768px){

    #main nav {
        margin-top: 25px;
    }
 
.container article .desc {
    float: right;
    width: 100%;
}

.container article a img {
    margin: 0 auto 0 auto;
    width: auto\9;
    height: auto;
    max-width: 100%;
    -ms-interpolation-mode: bicubic;
}


.book_wrapper {
    margin-top: 200px !important;
    zoom: 0.5;
}

.firm {
    visibility: hidden;
}

}

@media (min-width: 1024px) and (max-width: 1500px) {

#main nav{
    margin: 0 25px ;
}


}

@media (min-width: 768px) and (max-width: 1020px) {

.container article .desc {
    float: right;
    width: 100%;
}

}